<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../CSS/3D.css">
    </head>
    <body>
	<div class="main">
		<h1>CSS3的transform实现图片旋转木马3D浏览效果实例页面</h1>
	<div class="demo">
		<div class="stage_area" id="stage">
			<strong class="remind">点击任意图片or左右箭头浏览：</strong>
			<div class="container" id="container"></div>
		</div>
		<br><br><br><br><br>

		<div class="btns">
			<img src="../img/left.png" height="46" width="46" id="btn-left">
			<img src="../img/right.png" height="46" width="46" id="btn-right">
		</div>

	</div>
	</div>
    </body>
    <script src="../controller/control.js"></script>
</html>